﻿@model Hava_durumu.Models.Search

@*<div style="display:none">*@
    @*@Html.TextBoxFor(m => m.Search.City, new { @class = "form-control col-xs-12", value = @Hava_durumu.Languages.lang.WeatherInfosCity, id = "new-city-name" })*@
    @*@Html.TextBoxFor(m => m.City, new { value = Hava_durumu.Languages.lang.WeatherInfosCity })*@
    @*@Html.TextBoxFor(m => m.Lon, new { id = "new-city-lon" })
    @Html.TextBoxFor(m => m.Lat, new { id = "new-city-lat" })
    @Html.TextBoxFor(m => m.OldLat, new { id = "old-city-lat" })
    @Html.TextBoxFor(m => m.OldLon, new { id = "old-city-lon" })*@


        @*<input name="Lon" id="new-city-lon" type="text" value="" data-val-number="The field Lon must be a number." data-val="true">
        <input name="Lat" id="new-city-lat" type="text" value="" data-val-number="The field Lat must be a number." data-val="true">
        <input name="OldLat" id="old-city-lat" type="text" value="0" data-val-required="The OldLat field is required." data-val-number="The field OldLat must be a number." data-val="true">
        <input name="OldLon" id="old-city-lon" type="text" value="0" data-val-required="The OldLon field is required." data-val-number="The field OldLon must be a number." data-val="true">*@


    @*@Html.TextBox("newLat", null, new { id = "new-city-lat" })
    @Html.TextBox("oldLat", null, new { id = "old-city-lat" })
    @Html.TextBox("newLon", null, new { id = "new-city-lon" })
    @Html.TextBox("oldLon", null, new { id = "old-city-lon" })*@
    @*@Html.ActionLink("Index", "Index", "Home", new { language = ViewContext.RouteData.Values["language"] }, new { id = "search-url" })*@
@*</div>*@

@*@using (Html.BeginForm("Index", "Home", new { language = ViewContext.RouteData.Values["language"].ToString() }, FormMethod.Post, new { @class = "form-inline", id = "search-form"}))
{*@
    @*@Html.TextBox("JsonString", null, new { id = "json-string" })*@
    @*<input type="submit" id="submission-btn" />
}*@

@using (Html.BeginForm("Index", "Home", new { language = ViewContext.RouteData.Values["language"].ToString() }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row fadein" id="search">
        <div class="form-group col-xs-5">
            <input type="text" name="City" class="form-control col-xs-12" value="@Hava_durumu.Languages.lang.WeatherInfosCity" id="search-bar">
            @*@Html.TextBoxFor(m => m.City, new { @class = "form-control col-xs-12", value = @Hava_durumu.Languages.lang.WeatherInfosCity, id = "new-city-name" })*@
            @Html.TextBoxFor(m => m.Lon, new { id = "new-city-lon", hidden = "hidden" })
            @Html.TextBoxFor(m => m.Lat, new { id = "new-city-lat", hidden = "hidden" })
            @Html.TextBoxFor(m => m.OldLat, new { id = "old-city-lat", hidden = "hidden" })
            @Html.TextBoxFor(m => m.OldLon, new { id = "old-city-lon", hidden = "hidden" })
        </div>
        @*<button type="submit" class="btn btn-default">@Hava_durumu.Languages.lang.WeatherInfosSearch</button>*@
        <a class="btn btn-default" id="search-btn" href="#">@Hava_durumu.Languages.lang.WeatherInfosSearch</a>
    </div>
}

<form method="post" id="execute-search" action="" >
    <input type="text" name="SearchAjax" id="SearchAjax" value="" hidden/>
</form>

@*<form class="form-inline" action="/en" method="post">
    <input name="__RequestVerificationToken" type="hidden" value="aC8wz6S-k7g2abuCzW0_2PTiDef4EIFCZ4xWU4UDcI6JQxXktYsjAzIDiKSxrSWG0qVjmfgFU2h1RID_Llu6vSd08i6C6B18pSB1F6ZGu_41">    <div class="row fadein" id="search">
        <div class="form-group col-xs-5">
            <input name="Search.City" class="form-control col-xs-12" id="new-city-name" type="text" value="">
            <input name="Search.Lon" id="new-city-lon" type="text" value="" data-val-number="The field Lon must be a number." data-val="true">
            <input name="Search.Lat" id="new-city-lat" type="text" value="" data-val-number="The field Lat must be a number." data-val="true">
            <input name="Search.OldLat" id="old-city-lat" type="text" value="0" data-val-number="The field OldLat must be a number." data-val="true" data-val-required="The OldLat field is required.">
            <input name="Search.OldLon" id="old-city-lon" type="text" value="0" data-val-number="The field OldLon must be a number." data-val="true" data-val-required="The OldLon field is required.">
        </div>
        <button class="btn btn-default" id="search-btn" type="submit">Ara</button>
    </div>
</form>*@
