﻿@{
    ViewBag.Title = Hava_durumu.Languages.lang.AboutPageTitle;
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4" id="mission">
        <div class="panel panel-default panel-custom">
            <div class="panel-heading">
                <h3 class="panel-title" id="title">@Hava_durumu.Languages.lang.AboutMission</h3>
            </div>
            <div class="panel-body">
                <p>
                    Our mission is to make available the weather forecast to all and 
                    in a simple and an efficient way. No matter who is navigating through
                    our web pages, he/she is awaited to find it pleasant.
                </p> <br />
                <p>
                    We use real-time data provided by <a href="http://www.openweathermap.org" target="_blank">open weather</a>. As
                    it is complex to manipulate weather datas, we make it easy to the user to understand.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="usage-info">
        <div class="panel panel-default panel-custom">
            <div class="panel-heading">
                <h3 class="panel-title" id="title">@Hava_durumu.Languages.lang.AboutUsageInformation</h3>
            </div>
            <div class="panel-body">
                <p>
                    Having a good use-experience is crucial to any application so here are some tips.
                    This section is made intentionaly for the end-user.
                </p>
                <p>
                    <ul>
                        <li>From the map, choose any location by simply clicking or
                    from the search bar the name of a city.</li>
                        <li>Play with the navigation tab.</li>
                        <li>Change the language from the Languages dropdown in the top menu.</li>
                        <li>Leave a comment to if you have anything you want to share.</li>
                    </ul>
                    Enjoy!
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="support">
        <div class="panel panel-default panel-custom">
            <div class="panel-heading">
                <h3 class="panel-title" id="title">@Hava_durumu.Languages.lang.AboutSupport</h3>
            </div>
            <div class="panel-body">
                <p>
                    To help us improve our service please let us know your comments, requests and ideas.
                    See @Html.ActionLink("contact us", "Contact", "Home")
                </p>
            </div>
        </div>
    </div>
</div>
