﻿@{
    ViewBag.Title = Hava_durumu.Languages.lang.ContactPageTitle;
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4" id="about-me">
        <div class="panel panel-default panel-custom">
            <div class="panel-heading">
                <h3 class="panel-title" id="title">@Hava_durumu.Languages.lang.ContactAboutAuthor</h3>
            </div>
            <div class="panel-body">
                <p>
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="address">
        <div class="panel panel-default panel-custom">
            <div class="panel-heading">
                <h3 class="panel-title" id="title">@Hava_durumu.Languages.lang.ContactAddress</h3>
            </div>
            <div class="panel-body">
                <p>

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="leave-message">
        <div class="panel panel-default panel-custom">
            <div class="panel-heading">
                <h3 class="panel-title" id="title">@Hava_durumu.Languages.lang.ContactMessage</h3>
            </div>
            <div class="panel-body">
                <p>
                    
                </p>
            </div>
        </div>
    </div>
</div>


@*<div id="about-me">
    <p>About me</p>
</div>

<div id="leave-message">
    <p>Leave your massage</p>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:fawzy.abderrahmant9875@gmail.com">author</a><br />
</address>*@