﻿@model Hava_durumu.Models.Search
@{
    ViewBag.Title = Hava_durumu.Languages.lang.HomePageTitle;
    <div hidden @*style="display:none"*@>
        <input id="lang" value="@ViewBag.Lang" />
        <input id="lat" value="@ViewBag.Lat"/>
        <input id="lon" value="@ViewBag.Lon" />
    </div>
    <script>
        var lat = document.getElementById('lat').getAttribute('value');
        var lon = document.getElementById('lon').getAttribute('value');
        var lang = document.getElementById('lang').getAttribute('value');
    </script>
}

<!--Search area appears in top of the page when the page is sm-->

    @*@using (Html.BeginForm("Index", "Home", new { language = ViewContext.RouteData.Values["language"].ToString() }, FormMethod.Post, new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()

        <div class="row fadein" id="search">
            @*<form class="form-inline">
            <div class="form-group col-xs-5">
                <input type="text" name="City" class="form-control col-xs-12" value="@Hava_durumu.Languages.lang.WeatherInfosCity" id="search-bar">
            </div>
            <button class="btn btn-default" id="search-btn">@Hava_durumu.Languages.lang.WeatherInfosSearch</button>
            @*</form>
            @Html.Partial("_IndexSearchPartial")
        </div>
    }*@
@*@{ var m = new Hava_durumu.Models.Search(); }*@
@Html.Partial("_IndexSearchPartial")

@*@using (Html.BeginForm("Index", "Home", new { language = ViewContext.RouteData.Values["language"].ToString() }, FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()

    <div class="row fadein" id="search">
        <div class="form-group col-xs-5">
            @Html.TextBoxFor(m => m.Search.City, new { @class = "form-control col-xs-12", value = @Hava_durumu.Languages.lang.WeatherInfosCity, id = "new-city-name" })
            @Html.TextBoxFor(m => m.Search.Lon, new { id = "new-city-lon" })
            @Html.TextBoxFor(m => m.Search.Lat, new { id = "new-city-lat" })
            @Html.TextBoxFor(m => m.Search.OldLat, new { id = "old-city-lat" })
            @Html.TextBoxFor(m => m.Search.OldLon, new { id = "old-city-lon" })
        </div>
        <button type="submit" class="btn btn-default" id="search-btn">@Hava_durumu.Languages.lang.WeatherInfosSearch</button>
    </div>
}*@

@*<button id="test">click</button>*@
        

<!--Displaying the map and info in a single row-->
<div class="row">
    <div class="col-md-8 divide-custom">
        <div class="row">
            <div class="col-sm-12 col-md-11" id="map">
                <!--Displaying a map via google maps api-->
                <div id="map-canvas">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4" id="info">
        <div class="fadeout" id="search">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control search-trigger-box" value="@Hava_durumu.Languages.lang.WeatherInfosCity" id="search-bar">
                </div>
                <div class="form-group">
                    @*<button class="btn btn-default" id="search-btn">@Hava_durumu.Languages.lang.WeatherInfosSearch</button>*@
                    <a class="btn btn-default search-trigger" id="search-btn" href="#">@Hava_durumu.Languages.lang.WeatherInfosSearch</a>
                </div>
            </form>
        </div>
        <ul class="nav nav-tabs" role="tablist" id="tab">
            <li role="presentation" class="active"><a href="#current-weather" aria-controls="current-weather" role="tab" data-toggle="tab">@Hava_durumu.Languages.lang.WeatherInfosCurrent</a></li>
            <li role="presentation"><a href="#hourly" aria-controls="hourly" role="tab" data-toggle="tab">@Hava_durumu.Languages.lang.WeatherInfosHourly</a></li>
            <li role="presentation"><a href="#daily" aria-controls="daily" role="tab" data-toggle="tab">@Hava_durumu.Languages.lang.WeatherInfosDaily</a></li>
            <li role="presentation"><a href="#chart" aria-controls="chart" role="tab" data-toggle="tab">@Hava_durumu.Languages.lang.WeatherInfosChart</a></li>
        </ul>
        <div class="tab-content" id="weather-infos">
            <!--Displaying current weather-->
            <div class="tab-pane active" role="tabpanel" id="current-weather">
                <h3 id="current-weather-city-country"></h3>
                <div>
                    <img id="current-weather-image" />
                    <span id="current-weather-temp"></span> 
                </div>
                
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>@Hava_durumu.Languages.lang.WeatherInfosHumidity</td>
                            <td id="current-weather-humidity"></td>
                        </tr>
                        <tr>
                            <td>@Hava_durumu.Languages.lang.WeatherInfosMain</td>
                            <td id="current-weather-main"></td>
                        </tr>
                        <tr>
                            <td>@Hava_durumu.Languages.lang.WeatherInfosDescription</td>
                            <td id="current-weather-description"></td>
                        </tr>
                        <tr>
                            <td>@Hava_durumu.Languages.lang.WeatherInfosWind</td>
                            <td id="current-weather-wind"></td>
                        </tr>
                        <tr>
                            <td>@Hava_durumu.Languages.lang.WeatherInfosClouds</td>
                            <td id="current-weather-clouds"></td>
                        </tr>
                    </tbody>
                </table>                
            </div>
            <!--Hourly forecast-->
            <div class="tab-pane" role="tabpanel" id="hourly">
                Hourly forecast
            </div>
            <!--Displaying daily weather changes-->
            <div class="tab-pane" role="tabpanel" id="daily">
                Daily forecast
            </div>
            <!--Displaying weather chart-->
            <div class="tab-pane" role="tabpanel" id="chart">
                Chart
            </div>
            @*@Html.ActionLink("Save", "Save", "Weather", new { language = ViewContext.RouteData.Values["language"].ToString() }, new { @id = "save-weather-url" })*@
        </div>
    </div>
</div>

<!--Displaying comments and clothing sections in a single row-->
<div class="row divide">
    <div class="col-md-8 divide-custom">
        <div class="row">
            <div class="col-sm-12 col-md-11" id="comments">
                <h3>@Hava_durumu.Languages.lang.Comments</h3>
                <hr />
                <div id="comments-area">
                    <!--One comment-->
                    <div class="comment" id="comment-1">
                        <p class="main-comment">Comment 1</p>
                        <p class="additional-comment-info">by user1, 12-11-2016</p>
                    </div>
                    @*<!--One comment-->
                    <div class="comment" id="comment-2">
                        <p class="main-comment">Comment 2</p>
                        <p class="additional-comment-info">by user2, 12-11-2016</p>
                    </div>
                    <!--One comment-->
                    <div class="comment" id="comment-3">
                        <p class="main-comment">Comment 3</p>
                        <p class="additional-comment-info">by user3, 12-11-2016</p>
                    </div>
                    <!--One comment-->
                    <div class="comment" id="comment-4">
                        <p class="main-comment">Comment 4</p>
                        <p class="additional-comment-info">by user4, 12-11-2016</p>
                    </div>*@
                    <div id="user-comment">
                        @if (Request.IsAuthenticated)
                        {
                            <form class="form-horizontal" id="leave-comment">
                                <div class="form-group">
                                    <textarea class="form-control" cols="120" rows="2"></textarea>
                                </div>
                                <div class="form-group col-sm-offset-5">
                                    <button type="submit" class="btn btn-default">@Hava_durumu.Languages.lang.CommentsLeaveComment</button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="clothing">
        <h3>@Hava_durumu.Languages.lang.ClothingTip</h3>
        <hr />
        <div id="clothing-tip">
            @*<p>
                For a clear sky and freezing weather there is no need
                to an umbrella, instead wear lite warm cloths
                without overloading yourself.
            </p>*@
        </div>
    </div>
</div>

@section scripts {
    <script src="../../Scripts/index.js" id="map-script"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzrJ1yYaHPzKLylNe7ecHCvoSd8EJvQYs&callback=initMap" async defer></script>
}