﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Weather App">
    <meta name="author" content="Fawzy Abderrahman">
    <title>@ViewBag.Title . Hava-durumu</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*
    <!--To change-->
    @Scripts.Render("~/bundles/ckeditor")
    *@
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars" id="navbar-button-bars"></span>
                </button>
                @Html.ActionLink("Hava-durumu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @id = "app-name" })
            </div>
            <div class="navbar-collapse collapse navbar-collapse-custom">
                <ul class="nav navbar-nav" >
                    <li>@Html.ActionLink(Hava_durumu.Languages.lang.MenuHome, "Index", "Home", new { language = ViewContext.RouteData.Values["language"].ToString(), area = "" }, new { @class = "custom-link" })</li>
                    <li>@Html.ActionLink(Hava_durumu.Languages.lang.MenuAbout, "About", "Home", new { language = ViewContext.RouteData.Values["language"].ToString(), area = "" }, new { @class = "custom-link" })</li>
                    <li>@Html.ActionLink(Hava_durumu.Languages.lang.MenuContact, "Contact", "Home", new { language = ViewContext.RouteData.Values["language"].ToString(), area = "" }, new { @class = "custom-link" })</li>
                    <li>
                        <div class="dropdown btn-language">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                @Hava_durumu.Languages.lang.MenuLang <span class="fa fa-caret-down"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-custom">
                                <li>@Html.ActionLink(@Hava_durumu.Languages.lang.MenuLangTurkish, ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "tr" }, null)</li>
                                <li>@Html.ActionLink(@Hava_durumu.Languages.lang.MenuLangEnglish, ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "en" }, null)</li>
                                <li>@Html.ActionLink(@Hava_durumu.Languages.lang.MenuLangFrench, ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "fr" }, null)</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="row">
            <div class="col-sm-5">
                <p>@DateTime.Now.Year</p>
            </div>
            <div class="col-sm-1">
                @Html.ActionLink(Hava_durumu.Languages.lang.FooterAuthor, "Contact", "Home")
            </div>
            <div class="col-sm-2">
                <a href="http://www.openweathermap.org" target="_blank">@Hava_durumu.Languages.lang.FooterDataProvider</a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>