﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", id = "user-name" })
        </li>
        <li><a class="custom-link" id="log-out" href="javascript:document.getElementById('logoutForm').submit()">@Hava_durumu.Languages.lang.MenuSignOut</a></li>
    </ul>
    }
}
else
{
    <div class="nav navbar-nav navbar-right">
        <div class="btn-group btn-group-margin">
            @Html.ActionLink(Hava_durumu.Languages.lang.MenuSignUp, "Register", "Account", routeValues: new { language = ViewContext.RouteData.Values["language"].ToString() }, htmlAttributes: new { id = "registerLink", @class = "btn btn-sign-up" })
            @Html.ActionLink(@Hava_durumu.Languages.lang.MenuSignIn, "Login", "Account", routeValues: new { language = ViewContext.RouteData.Values["language"].ToString() }, htmlAttributes: new { id = "loginLink", @class = "btn btn-sign-in" })
        </div>
    </div>
}
