﻿#map {
    border: solid 1px black;
    height: 400px;
    background-color: white;
    padding: 1px;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

#info {
    border: solid 1px black;
    height: 400px;
    background-color: white;
    padding-top: 5px;
}

#search {
    height: 50px;
    padding-top: 5px;
    border: none;
}

#search form {
    background-color: white;
}

#weather-infos {
    margin-top: 10px;
    box-sizing: border-box;
    height: 280px;
}

#comments {
    border: solid 1px black;
    height: 300px;
    background-color: white;
}

#comments-area {
    height: 200px;
    overflow: scroll;
}

.comment {
    border: solid 1px black;
    padding: 2px;
    margin-bottom: 5px;
}

#leave-comment {
    /*border: solid 1px black;*/
    padding-left: 15px;
}

/*#save-btn {
    position: relative;
    left: 90%;
}*/

#clothing {
    border: solid 1px black;
    height: 300px;
    background-color: white;
}

#clothing-tip {
    box-sizing: border-box;
    height: 200px;
    font-size: 1.3em;
}

.divide {
    margin-top: 50px;
}

.fadein {
    border: solid 1px black;
    background-color: white;
    display: none;
}

.log-reg {
    box-sizing: border-box;
    background-color:white;
    padding: 20px;
    border: solid 1px black;
}

.log-reg label, #ttl {
    color: #0a4276;
}

.log-reg form {
    margin-top: 40px;
}

#user-name, #log-out {
    color: white;
}

#user-name:hover, #log-out:hover {
    color: #073763;
    background-color: #efefef;
}

@media only screen and (max-width: 991px) {
    .fadein {
        display: block;
        margin-bottom: 30px;
        margin-top: -20px;
    }
    .fadeout {
        display: none;
    }
    .divide-custom {
        margin-bottom: 50px;
    }
    #weather-infos {
        height: 330px;
    }
}

/*@media only screen and (max-width: 767px) {
   #save-btn {
        left: 90%;
    }
}*/

/*@media only screen and (max-width: 550px) {
   #save-btn {
        left: 78%;
    }
}*/

#title {
    font-size: 1.6em;
}

.panel-custom {
    height: 350px;
}

h3[id="current-weather-city-country"] + div {
    font-size: 1.3em;
}

/* Tooltip container */
.tooltip-container {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-container .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip-container .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*
@media only screen and (max-width: 450px) {
   #save-btn {
        left: 83%;
    }
}

@media only screen and (max-width: 360px) {
   #save-btn {
        left: 70%;
    }
}*/