﻿body {
    position: relative;
    padding-top: 70px;
    padding-bottom: 0px;
    overflow-x: hidden;
    /*background-image: url("../Images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 50px 10px 30px 15px;
    min-height: 532px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-custom{
    background-color: #073763;
    color: white;
    height: 70px;
    padding-top: 10px;
}

#navbar-button-bars {
    color: white;
    font-size: 1.6em;
}

#app-name {
    font-size: 2.3em;
    color: white;
}

.custom-link {
    font-size: 1.1em;
    color: white;
}

.custom-link:hover {
    background-color: black;
}

.btn-group-margin {
    margin-top: 8px;
}

.btn-sign-up {
    background-color: rgba(139, 182, 235, 0.8);
    color: white;
}

.btn-sign-up:hover {
    background-color: rgba(139, 182, 235, 0.6);
    color: white;
}

.btn-sign-in {
    background-color: #1abb28; /*#fa9c09*/ /*#21d191*/
    color: white;
}

.btn-sign-in:hover {
    background-color: #1aad27;
    color: white;
}

.btn-language, .btn-language button {
    background-color: #073763;
    color: white;
    margin-top: 4px;
}

.btn-language button:hover {
    color: white;
}

.btn-language button:focus {
    color: white;
}

.dropdown-menu-custom {
    background-color: #eeeeee
}

.dropdown-menu-custom li a:hover {
    background-color: rgba(139, 182, 235, 0.80);
    color: #ffffff;
}

.white-caret {
    color: white;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #dddddd;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 5px;
}

footer a {
    color: black;
}

footer a:hover {
    color: black;
}

@media only screen and (max-width: 767px) {
    .navbar-collapse-custom {
        background-color: rgb(246, 248, 250); /*rgb(246, 248, 250)*/
    }
    .btn-group-margin {
        margin-top: 0px;
    }
    .custom-link {
        color: darkblue; /*#073763*/
    }
    .custom-link:hover {
        color: darkblue;
    }
    .btn-language, .btn-language button {
        background-color: rgb(246, 248, 250);
        color: darkblue;
    }
    .btn-language button:hover, .btn-language button:focus {
        color: darkblue;
    }
    footer {
        height: 100px;
    }
    body{
        overflow-x: scroll;
    }
}
