﻿@using Hava_durumu.Models
@model LoginViewModel
@{
    ViewBag.Title = Hava_durumu.Languages.lang.SignInPageTitle;
}

<div class="row log-reg">
        <!--<div class="col-md-12">-->
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <h2 id="ttl">@Hava_durumu.Languages.lang.MenuSignIn</h2>
        </div>
    </div>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    
                   
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-5">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        @*<div class="col-md-offset-2 col-md-3">
                            @Html.ActionLink("Forgot password", "ForgotPassword")
                        </div>*@
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="@Hava_durumu.Languages.lang.MenuSignIn" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink(Hava_durumu.Languages.lang.FormRegisterAsANewUser, "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }

            </section>
    @*<div class="">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
        <!--</div>-->
        <!--<div class="col-md-4">
            <section id="socialLoginForm">
               @* @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl }) *@
            </section>
        </div>-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}