﻿@model IEnumerable<Hava_durumu.Areas.Admin.Models.Comment>

<h3>Comments</h3>

<h3>@Hava_durumu.Languages.lang.Comments</h3>

<div id="admin-comments">
    <div id="admin-comments-form">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @*@Html.Label(Hava_durumu.Languages.lang.AdminUsersFormUserName, new { @class = "col-md-2 control-label" })*@
                @Html.TextBox("UserName", Hava_durumu.Languages.lang.AdminUsersFormUserName, new { @class = "form-control" })
                @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })*@
            </div>
            <div class="form-group">
                <div class="checkbox-inline">
                    @Html.CheckBox("UserNameCheckbox")
                    @Html.Label(Hava_durumu.Languages.lang.AdminUsersFormUserName)
                </div>
                <div class="checkbox-inline">
                    @Html.CheckBox("RoleCheckbox")
                    @Html.Label(Hava_durumu.Languages.lang.AdminUsersFormRole)
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="@Hava_durumu.Languages.lang.AdminPageFormsFilter" class="btn btn-default" />
            </div>
        }

        @*@using (Html.BeginForm("Admin", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-5">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.UserName)
                            @Html.LabelFor(m => m.UserName)
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@Hava_durumu.Languages.lang.MenuSignIn" class="btn btn-default" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink(Hava_durumu.Languages.lang.FormRegisterAsANewUser, "Register")
                        </p>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>* @
            }*@
    </div>
    <div id="admin-comments-section">
        @foreach (var item in Model)
        {
            <div class="comment">
                <p>@Html.DisplayFor(obj => item.Content)</p>
                <p>@Html.DisplayFor(obj => item.WriterName), @Html.DisplayFor(obj => item.Date)</p>
            </div>
            <div class="tooltip-container">
                <span class="fa fa-trash"></span>
                <span class="tooltiptext">@Hava_durumu.Languages.lang.AdminUsersFormDeleteTooltip</span>
            </div>
        }
    </div>
</div>

